body {
    margin: 0;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}
@media screen and ( min-width:1400px) and (max-width:1450px) {
    div.fourWin112 {
        width: 11rem;
    }

}
@media screen and ( min-width:1300px) and (max-width:1750px) {
    div.fourWin112 {
        width: 20rem;
    }
    div.fourWin111 {
        width: calc(90% - 1rem);
        margin: 0 0.5rem;
        padding-top: 1rem;
    }
}
@media screen and ( min-width:1300px) and (max-width:1450px) {
    div.fourWin112 {
        width: 17rem;
    }
}

@media screen and ( min-width:901px) and (max-width:1300px) {
    html {
        font-size: 10px;
    }
    div.firstWin {
        height: 60vh;
    }
    div.firstWin21 {
        height: 80%;
        width: 80%;
        float: right;
    }
    div.fourWin111 {
        width: calc(90% - 1rem);
        margin: 0 0.5rem;
        padding-top: 1rem;
    }
}
@media screen and ( min-width:400px) and (max-width:900px) {
    html {
        font-size: 8px;
    }
    div.firstWin {
        height: 45vh;
    }
    div.firstWin21 {
        height: 90%;
        width: 90%;
        float: right;
    }
    div.firstWin {
        font-size: 3rem;
    }
    .fourWin111 {
        font-size: 1.5rem;
    }
    div.fourWin111 {
        width: calc(90% - 1rem);
        margin: 0 0.5rem;
        padding-top: 1rem;
    }

    
}
@media screen and ( min-width:400px) and (max-width:660px) {
    div.spin {
        width: calc(100% - 4rem);
        margin: 0 1rem 0 3rem;
    }
    div.spin11111 {
        padding-top: 10rem;
    }
    div.spin21, div.spin22 {
        background-size: cover;
    }
    .spin111 {
        font-size: 1.8rem;
    }
    div.spin11 {
        font-size: 2.5rem;
    }
    div.threeWin11 {
        padding-top: 5rem;
    }
    div.fourWin11 {
        margin: 0;
        width: 100%;
    }
    div.firstWin11 {
        font-size: 2.5rem;
    }
}
@media screen and ( min-width:400px) and (max-width:550px) {
    div.spin11111 {
        padding-top: 3rem;
    }
    div.firstWin {
        height: 40vh;
    }
    div.spin11 {
        font-size: 2rem;
    }
    div.spin111111 {
        width: 16rem;
    }
    .spin1111 {
        font-size: 1.5rem;
    }
    div.threeWin1 {
        height: 20rem;
    }
    div.threeWin11 {
        padding-top: 2rem;
    }
    div.fourWin111 {
        margin: 0;
        width: 100%;
    }
    div.threeWin2 {
    height: auto;
    }
    div.threeWin221{
        width: 100%;
        margin: 0;
    }
    div.fourWin {
        height: auto;
    }
    div.fourWin1 {
        display: flex;
        border-radius: 2rem;
        border: 5px solid #5294f7;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        height: auto;
    }
    div.fourWin12 {
        width: 100%;
        position: relative;
        bottom: 2rem;        
    }
    .kok {
        position: relative;
        top: 1rem;
    }
}

@media screen and ( min-width:300px) and (max-width:450px) {
    html {
        font-size: 6px;
    }
    div.spin11111 {
        padding-top: 3rem;
    }
    div.firstWin {
        height: 40vh;
    }
    div.spin11 {
        font-size: 2rem;
    }
    div.spin111111 {
        width: 16rem;
    }
    .spin1111 {
        font-size: 1.5rem;
    }
    div.threeWin1 {
        height: 20rem;
    }
    div.threeWin11 {
        padding-top: 2rem;
        width: 80%;
        margin-left: 5rem;
    }
    div.fourWin111 {
        margin: 0;
        width: 100%;
    }
    div.threeWin2 {
    height: auto;
    }
    div.fourWin {
        height: auto;
    }
    div.fourWin1 {
        display: flex;
        border-radius: 2rem;
        border: 5px solid #5294f7;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        height: 100%;
    }
    div.fourWin12 {
        width: 100%;
        position: relative;
        bottom: 2rem;        
    }
    div.kok {
        position: relative;
        top: 1rem;
    }
    div.firstWin {
        height: 35vh;
    }
    div.firstWin21 {
        height: 90%;
        width: 75%;
        float: right;
    }
    .fourWin111 {
        font-size: 1.5rem;
    }
    div.spin {
        width: calc(100% - 3rem);
        margin: 0 1rem 0 2rem;
    }
    div.threeWin221 {
        margin: 0;
        width: auto;
    }
    div.firstWin11 p {
        width: 30rem;
    }
    div.fourWin11 {
        width: 100%;
    }
    .firstWin12 {
        width: auto;
    }
    div.firstWin211 {
        width: 30rem;
    }
    div.firstWin11 {
        font-size: 2.5rem;
    }
    div.firstWin {
        height: 25vh;
    }

}
@media screen and ( min-height:400px) and (max-height:900px) {
    div.firstWin {
        background-color: #333;
        background-image: none;
    }
}
@media screen and ( min-height:300px) and (max-height:900px) {
    div.bitok {
        width: 20px;
        height: 20px;
    }

}
.firstWin {
    width: 100%;
    height: 100vh;
    background-image: url(img/Group\ 8.jpg);
    background-size: cover;
    display: flex;
}
.firstWin1 {
    width: calc(50% - 11rem);
    height: calc(100% - 2rem);
    margin: 0 5rem;
    padding-top: 1rem;
    margin-right: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 1s;
}
.firstWin11 {
    width: 99%;
    font-size: 4rem;
}
.firstWin11 b {
    color: red;
}
.firstWin11 p {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}
.firstWin12 {
    width: 30rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: #3D8AFF;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.firstWin12:hover {
    background-color: #5294f7;
    transform: translateY(-10px);
    transition: 1s;
    box-shadow: 0 5px 10px #000000;
}
.firstWin2 {
    width: calc(50% + 10rem);
    height: 100%;
}
.firstWin21 {
    width: 100%;
    height: calc(100% - 20rem);
    margin-top: 10rem;
}
.firstWin211 {
    height: 100%;
    width: 100%;
    background-image: url(img/2024-12-16_12-45-41.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.firstWin211:hover {
    transform: scale( 1.2);
    transition: 1s;
    box-shadow: 0 5px 10px #333;
}
.secondWin {
    width: 100%;
    height: 7rem;
    background-color: #3D8AFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.secondWin1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.icon {
    display: flex;
    width: 20rem;
    align-items: center;
}
.icontxt {
    color: #000;
    font-size: 1.5rem;
    padding-left: 0.5rem;
}
.icontxt p{
    font-size: 1.2rem;
    margin: 0;
}
.threeWin {
    width: 100%;
    height: 80rem;
}
.threeWin1 {
    width: 100%;
    height: 18rem;
}
.threeWin11 {
    width: 60%;
    margin-left: 10rem;
    padding-top: 3rem;
    font-size: 4rem;
    color: #3D8AFF;
}
.threeWin11 p{
    font-size: 1.5rem;
    color: #000;
    font-weight: 700;
    margin: 0;
}
.threeWin2 {
    width: 100%;
    height: 100rem;
}
.threeWin21 {
    width: calc(100% - 20rem);
    height: 15rem;
    display: flex;
    padding: 0 10rem;
    align-items: center;
    justify-content: center;
}
.threeWin22 {
    width: 100%;
    height: 50rem;
}
.threeWin221 {
    width: calc(100% - 10rem);
    height: 100%;
    margin: 0 5rem;
    background-color: #333;
}
.spin {
    width: calc(100% - 8rem);
    height: calc(100% - 4rem);
    margin: 0 1rem 0 7rem;
    padding: 3rem 0 1rem 0;
    display: flex;
}
.spin1 {
    width: 40%;
    height: 100%;    
}
.spin11 {
    width: 100%;
    height: 100%;
    font-size: 4rem;
    font-weight: 600;
}
.spin111 {
    font-size: 2rem;
    font-weight: 600;
}
.spin111 b {
    color: #3D8AFF;
}
.spin1111 {
    padding-top: 1rem;
}
.spin11111 {
    padding-top: 15rem;
}
.spin111111 {
    width: 20rem;
    height: 4rem;
    margin-top: 1rem;
    background-color: #3D8AFF;
    border: none;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.5rem;
}
.spin111111:hover {
    background-color: #5294f7;
    transform: translateY(-10px);
    box-shadow: 0px 5px 10px #000;
    transition: 1s;
}
.spin2 {
    width: calc(100% - 40%); 
    height: 100%;
}
.spin21 {
    background-image: url(img/image\ 1.png);
    height: 50%;
    width: 100%;
}
.spin22 {
    height: 50%;
    width: 100%;
    background-image: url(img//image\ 2.png);
}
.fourWin {
    height: 50rem;
    width: 100%;
}
.fourWin1 {
    width: calc(100% - 10rem);
    height: 100%;
    margin: 0 5rem;
    display: flex;
    border-radius: 2rem;
    border: 5px solid #5294f7;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.fourWin11 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.fourWin111 {
    width: calc(90% - 10rem);
    margin: 0 5rem;
    padding-top: 3rem;
    color: #000;
}
.fourWin112 {
    height:20rem;
    width: 20rem;
    border-radius: 5rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/S7IhoZwCdXc.jpg);
}
.fourWin113 {
    padding-bottom: 3rem;
    color: #000;
}
.fourWin113 b {
    color: #3D8AFF;
}
.fourWin12 {
    width: 100%;
    height: 3rem;
    font-size:3rem ;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}
.ffff {
    display: flex;
}
.formapot {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.postmate {
    width: 30rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}
.postmate:focus {
    outline: none;
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    transition: 1s;
}
.nnnn {
    color: #3D8AFF;
}
.TG {
    height: 5rem;
    line-height: 5rem;
    display: flex;
    align-items: center;
}
.tgg {
    height: 50px;
}

.kok {
    width: 30rem;
    height: 3rem;
    background-color: #3D8AFF;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.3rem;
}
.kok:hover {
    transform: translateY(-10px);
    transition: 1s;
    background-color: #5294f7;
}
.footer {
    width: 100%;
    height: 10rem;
    background-color: #333;
    margin-top: 3rem;
    text-align: center;
    line-height: 10rem;
}
.ssss {
    width: 10%;
    color: #fff;
}
.ssss:focus {
    width: 10%;
    transition: 1s;
}
.wwww {
    font-size: 1rem;
    display: flex;
    width: 100%;
    height: 2rem;
}
.popup {
    width: 100rem;
    height: 100rem;
    background-color: #000;
    position: absolute;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.548);
    display: grid;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s ;
}
.modal__box {
    position: relative;
    max-width: 50rem;
    height: 30rem;
    padding: 1rem 2rem;
    z-index: 1;
    background-color: #3D8AFF;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    border-radius: 3rem;
}
#closed-my-modal-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
#closed-my-modal-btn svg path {
    fill: #ffffff;
    cursor: pointer;
}
#closed-my-modal-btn:hover svg path {
    fill: #000;
}
.modal.open {
    visibility: visible;
    opacity: 1;
}
.modal.open .modal__box {
    transform: scale(1);
}
.postm {
    height: 2rem;
    width: 20rem;
    border: none;
    border-radius: 1rem;
}
.formot {
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: space-evenly;
    align-items: center;
}
.popop {
    font-size: 1.5rem;
}
.kook {
    margin-top: 2rem;
    width: 20rem;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
}
.kook:hover {
    background-color: aliceblue;
    transition: 1s;
}
.kook:active {
    background-color: antiquewhite;
}
.postm:focus {
    border: none;
    outline: none;
}
